#include <windows.h>

1 VERSIONINFO
FILEVERSION 2,26,0,0
PRODUCTVERSION 2,26,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080404b0"
    BEGIN
      VALUE "FileDescription", "OkMeter Token Monitor\0"
      VALUE "ProductName", "Okryptos OkMeter\0"
      VALUE "FileVersion", "2.26.0.0\0"
      VALUE "ProductVersion", "2.26.0.0\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x804, 1200
  END
END
